
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Click Prio</title>
    <meta name="description" content="sample text,sample text">
    <meta name="keywords" content="word1,word2,word3">

    <!--viewport widthの値は、サイトの横幅 or device-width　を設定-->
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Pacoma パコマ ｜ 豊かな暮らしをつくる、ウェブマガジン">
    <meta property="og:description" content="sample text,sample text">
    <meta property="og:url" content="http://pakoma.com/">
    <meta property="og:site_name" content="Pacoma パコマ ｜ 豊かな暮らしをつくる、ウェブマガジン">
    <meta property="og:type" content="blog">
    <meta property="fb:admins" content="">
    <meta property="og:image" content="images/common/ogp.png">

    <meta name="apple-mobile-web-app-title" content="Pacoma">

    <link rel="shortcut icon" href="images/common/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="images/common/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!--初めに読み込ませたいjs ここから-->
    <script src="./lib/modernizr.js"></script>
    <!--初めに読み込ませたいjs ここまで-->

</head>
<body id="js-body" ng-app="myApp">
<div id="fb-root"></div>

<!--
    javascriptを有効にしていなユーザーへのメッセージ。
    対応外ブラウザを使用しているユーザーへのメッセージ。
-->
<noscript class="for-no-js">Javascriptを有効にしてください。</noscript>
<div class="for-old">お使いのOS・ブラウザでは、本サイトを適切に閲覧できない可能性があります。最新のブラウザをご利用ください。</div>

<!--jsでパスの値が必要な場合に使うタグ-->
<input type="hidden" value="./" id="js-base-url">
<header class="l-header">

    <ul class="l-header__main global-nav">
        <li class="global-nav__item">
            <a href="">Become a Partner</a>
        </li>
        <li class="global-nav__item">
            <a href="">Contact Us</a>
        </li>
    </ul>

    <ul class="l-header__sub nav">
        <li class="nav__item">
            <dl class="user-info">
                <dt class="user-info__data">
                    <p class="user-info__name">User Name</p>
                    <p class="user-info__phone">+6332398219</p>
                </dt>
                <dd class="user-info__thumb">
                    <!-- <img src="http://placekitten.com/62/62" height="62" width="62" alt=""> -->
                </dd>
            </dl>
        </li>
        <li class="nav__item">
            <a class="header-link" href="#">
                <i class="header-link__icon fa fa-lock" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav__item">
            <a class="header-link" href="#">
                <i class="header-link__icon fa fa-cog" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</header>

<!--l-main ここから-->

<main class="l-main" ng-controller="myController as myCtrl">
	<form class="form" name="form" id="js-form-slider" action="#" novalidate>
        
		<ul class="form__inner">
    		<li class="form__item">
                <div class="form__cell"></div>
                <div class="form__cell">
                    <div class="selection selection--dr">
    <ul class="selection__avatars">
        <li class="selection__avatars-item">
            <dl class="avatar">
                <dt class="avatar__thumb">
                    <img src="images/dr-generalist.png" alt="">
                </dt>
                <dd class="avatar__name">
                    <label class="dot">
                        <input class="dot__input" type="radio" name="doctor" value="general" ng-model="checkedSp" ng-required>
                        <span class="dot__box">
                            <i class="dot__icon fa fa-check"></i>
                        </span>
                        <span class="dot__text">General Physician</span>
                    </label>
                </dd>
            </dl>
        </li>
        <li class="selection__avatars-item">
            <dl class="avatar">
                <dt class="avatar__thumb">
                    <img src="images/dr-specialist.png" alt="">
                </dt>
                <dd class="avatar__name">
                    <label class="dot">
                        <input class="dot__input" type="radio" name="doctor" value="specialist" ng-model="checkedSp" ng-required>
                        <span class="dot__box">
                            <i class="dot__icon fa fa-check"></i>
                        </span>
                        <span class="dot__text">Specialist</span>
                    </label>
                </dd>
            </dl>
        </li>
    </ul>
    <div class="selection__select check-element animate-show" ng-show="checkedSp === 'specialist'">
        <div class="select">
            <i class="select__icon fa fa-angle-down"></i>
            <select class="select__object">
                <option ng-repeat="specialtiy in myCtrl.specialties" value="{{specialtiy.value}}">{{specialtiy.name}}</option>
            </select>
        </div>
    </div>
</div>      
                </div>
            </li>
            <li class="form__item form__item--type-b">
                <div class="form__cell">
                    <p class="form__item--type-b__text">
                        select notification style:
                    </p>
                </div>
                <div class="form__cell">
                    <div class="selection selection--concerns">
    <ul class="selection__list">
        <li class="selection__item">
            <textarea class="textarea" name="" id="" cols="20" rows="5" placeholder="Concerns"></textarea>
        </li>
        <li class="selection__item">
            <label class="dot dot--box">
                <input class="dot__input" type="checkbox" name="doctor" value="else">
                <span class="dot__box">
                    <i class="dot__icon fa fa-check"></i>
                </span>
                <span class="dot__text">I’m filing in behalf of someone else</span>
            </label>
        </li>
        <li class="selection__item">
            <input class="input" type="text" placeholder="Patient’s Name" ng-model="patientName" ng-required>
        </li>
    </ul>
</div>  
                </div>
            </li>
            <li class="form__item form__item--type-c">
                <div class="form__cell">
                    <img src="images/image-app.png" alt="">
                </div>
                <div class="form__cell">
                    <div class="selection selection--button">
    <a class="selection__button get-start get-start--primary" href="app.html" ng-disabled="!patientName || !checkedSp">
        <span class="get-start__text">Get your number</span>
    </a>
</div>  
                </div>
            </li>
    	</ul>
    </form>
</main>
<!--l-main ここまで-->


        </div>
        <!--wrapper ここまで-->
        <script src="./lib/angular.min.js"></script>
        <script src="./js/vendor.js"></script>
        <script src="./js/app.js"></script>
        
    </body>
</html>
