<% var
    id = "index",
    title = "",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "blog";
%>
<% include layout/_head %>
<% include layout/_header %>

<!--l-main ここから-->
<main class="l-main" id="js-base">
    <% include module/_view1 %>
</main>
<!--l-main ここまで-->


<% include layout/_script %>