<% var
    id = "index",
    title = "",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "blog";
%>
<% include layout/_head %>
<% include layout/_header %>

<!--l-main ここから-->
<main class="l-main" ng-controller="myController as myCtrl">
	<form class="form" id="js-form-slider" action="#">
		<ul class="form__inner">
    		<% include module/_view1 %>
    		<% include module/_view2 %>
    	</ul>
    </form>
</main>
<!--l-main ここまで-->


<% include layout/_script %>