<% var
    id = "app",
    title = "",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "blog";
%>
<% include layout/_head %>
<% include layout/_header %>

<!--l-main ここから-->

<main class="l-main" ng-controller="myController as myCtrl">
	<form class="form" id="js-form-slider" action="#" novalidate>
        
		<ul class="form__inner">
    		<li class="form__item">
                <div class="form__cell"></div>
                <div class="form__cell">
                    <% include module/_selection--dr %>      
                </div>
            </li>
            <li class="form__item form__item--type-b">
                <div class="form__cell">
                    <p class="form__item--type-b__text">
                        select notification style:
                    </p>
                </div>
                <div class="form__cell">
                    <% include module/_selection--concerns %>  
                </div>
            </li>
            <li class="form__item form__item--type-c">
                <div class="form__cell">
                    <img src="images/image-app.png" alt="">
                </div>
                <div class="form__cell">
                    <% include module/_selection--button %>  
                </div>
            </li>
    	</ul>
    </form>
</main>
<!--l-main ここまで-->


<% include layout/_script %>