<% var
id = "index",
title = "",
description = "sample text,sample text",
keywords = "word1,word2,word3",
type = "blog";
%>
<% include layout/_head %>
<% include layout/_header %>

<div class="hero js-section">
    <article class="hero__caution caution" ng-show="myCtrl.checkCookie() === true">
        <h1 class="caution__title">ACTIVE PRIORITY NUMBER</h1>
        <div class="caution__inner">
            <p class="caution__number">
                <strong>07</strong>
            </p>
            <ul class="caution__data">
                <li class="caution__data-item">Marvel Hospital</li>
                <li class="caution__data-item">Dr. Strange</li>
                <li class="caution__data-item">General Physician</li>
                <li class="caution__data-item">Now Serving: <em>05</em></li>
            </ul>
        </div>
    </article>
    <div class="hero__logo logo">
        <img class="logo__image" src="images/logo.png" alt="Click Prio"/>
        <h1 class="logo__title">hassle-free priority<br> number system</h1>
    </div>
</div>

<!--l-main ここから-->
<main class="l-main" id="js-base" ng-controller="MyController">

    <section class="start js-section">
        <h1 class="start__title">NO MORE WAITING</h1>
        <a class="start__button get-start" href="app.html">
            <i class="get-start__icon fa fa-hand-o-up"></i>
            <span class="get-start__text">Get your number</span>
        </a>
    </section>

    <section class="supporter js-section">
        <h1 class="supporter__title">PEOPLE WHO LOVE US </h1>
        <div class="supporter__grid grid grid--md-col2">
            <ul class="supporter__grid-inner grid__inner">
                <li class="supporter__grid-item grid__item">
                    <img src="images/logo/logo1.png" alt=""/>
                    <p>This Hospital</p>
                </li>
                <li class="supporter__grid-item grid__item">
                    <img src="images/logo/logo2.png" alt=""/>
                    <p>That Hospital</p>
                </li>
                <li class="supporter__grid-item grid__item">
                    <img src="images/logo/logo3.png" alt=""/>
                </li>
                <li class="supporter__grid-item grid__item">
                    <img src="images/logo/logo4.png" alt=""/>
                </li>
            </ul>
        </div>
    </section>

    <section class="works js-section">
        <h1 class="works__title">How it works</h1>
        <div class="works__grid grid grid--col3 grid--md-col1">
            <ol class="works__grid-inner grid__inner">
                <li class="works__grid-item grid__item">
                    <figure class="step">
                        <div class="step__image">
                            <i class="step__icon fa fa-laptop"></i>
                        </div>
                        <figcaption class="step__caption">
                            <p>
                                Sign-in or Sign-up if you<br>
                                don’t have an account yet
                            </p>
                        </figcaption>
                        <p class="step__num">Step 1</p>
                    </figure>
                </li>
                <li class="works__grid-item grid__item">
                    <figure class="step">
                        <div class="step__image">
                            <i class="step__icon fa fa-building"></i>
                        </div>
                        <figcaption class="step__caption">
                            <p>
                                Select what type of<br>
                                priority number and from<br>
                                what institution
                            </p>
                        </figcaption>
                        <p class="step__num">Step 2</p>
                    </figure>
                </li>
                <li class="works__grid-item grid__item">
                    <figure class="step">
                        <div class="step__image">
                            <i class="step__icon fa fa-user"></i>
                        </div>
                        <figcaption class="step__caption">
                            <p>
                                Get Priority Number
                            </p>
                        </figcaption>
                        <p class="step__num">Step 3</p>
                    </figure>
                </li>
            </ol>
        </div>
    </section>

    <section class="feature js-section">
        <h1 class="feature__title">Why clickPriO</h1>
        <div class="feature__grid grid grid--col3 grid--md-col1">
            <ol class="feature__grid-inner grid__inner">
                <li class="feature__grid-item grid__item">
                    <article class="reason">
                        <i class="reason__icon fa fa-check"></i>
                        <p class="reason__title">Hassle Free</p>
                    </article>
                </li>
                <li class="feature__grid-item grid__item">
                    <article class="reason">
                        <i class="reason__icon fa fa-check"></i>
                        <p class="reason__title">Stress Free</p>
                    </article>
                </li>
                <li class="feature__grid-item grid__item">
                    <article class="reason">
                        <i class="reason__icon fa fa-check"></i>
                        <p class="reason__title">Health-Risk Free</p>
                    </article>
                </li>
            </ol>
        </div>
        <p class="feature__strong">
            <em>Build great moments with the people you love.</em>
        </p>
    </section>

</main>
<!--l-main ここまで-->


<% include layout/_script %>