/*
* setting
*/
@import "1-setting/color";
@import "1-setting/setting";
@import "1-setting/font";
/*
* tool
*/
@import "2-tool/mixin";
/*
* base
*/
@import "3-base/reset";
@import "3-base/generic";
/*
* layout
*/
@import "4-layout/container";
@import "4-layout/footer";
@import "4-layout/grid";
@import "4-layout/header";
@import "4-layout/wrapper";
@import "4-layout/contents";
@import "4-layout/main";
@import "4-layout/sidebar";
/*
* module
*/
@import "5-module/sprites/sprite-label-2x";
@import "5-module/sprites/sprite-latest-2x";
@import "5-module/sprites/sprite-number-2x";
@import "5-module/sprites/sprite-number-small-2x";
@import "5-module/sprites/sprite-parts-2x";
@import "5-module/sprites/sprite-rank-2x";
@import "5-module/sprites/sprite-ribbon-2x";
@import "5-module/sprites/sprite-text-2x";
@import "5-module/sprites/sprite-title-2x";
@import "5-module/sprites/sprite-hero-2x";
@import "5-module/sprites/sprite-nav-2x";
@import "5-module/iconfont/iconfont";
@import "5-module/section";
@import "5-module/navi";
@import "5-module/pager";
@import "5-module/article-card";
@import "5-module/article-media";
@import "5-module/editable-body";
@import "5-module/button";
@import "5-module/hero";
@import "5-module/privacy-contents";
@import "5-module/follow-us";
@import "5-module/banners";
@import "5-module/instagram-section";
@import "5-module/fb-page-section";
@import "5-module/latest";
@import "5-module/holder-cards";
@import "5-module/holder-media";
@import "5-module/news-article";
@import "5-module/editable-header";
@import "5-module/frame-section";
@import "5-module/tag";
@import "5-module/avator";
@import "5-module/primary-heading";
@import "5-module/secondary-heading";
@import "5-module/category-heading";
@import "5-module/text-404";
@import "5-module/asking";
@import "5-module/contact-contents";
@import "5-module/page-description";
@import "5-module/about-contents";
@import "5-module/supporter-contents";
@import "5-module/support";
@import "5-module/select";
@import "5-module/homecenter-figure";
@import "5-module/shop";
@import "5-module/city";
@import "5-module/state";
@import "5-module/holder-state";
@import "5-module/company-section";
@import "5-module/map";
@import "5-module/loading";
@import "5-module/written-section";
@import "5-module/japan";
@import "5-module/overlay";
@import "5-module/side-box";
@import "5-module/button-wrap";
@import "5-module/recommend-section";
@import "5-module/tab";
@import "5-module/homecenter-info";
/*
* utility
*/
@import "6-utility/utility";
@import "6-utility/margin";

main {
    padding: 0 15px;
}

.form {
    dl {
        margin-bottom: 20px;
    }
    dt {
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.input,
.select {
    display: block;
    width: 100%;
    min-height: 45px;
    border: 1px solid #ccc;
    background-color: #eee;
//    padding: 0 10px;
}

.button {
    display: inline-block;
    width: 100%;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    padding: 15px 10px;
    &:hover {
        opacity: .8;
    }
}

.button-group {
    .button {
        border-radius: 0;
        margin-bottom: 2px;
        &:nth-child(1) {
            border-radius: 3px 3px 0 0;
        }
        &:last-child {
            border-radius: 0 0 3px 3px;
            margin-bottom: 0;
        }
    }
}