@keyframes count {
    0% {
        content: "00";
    }
    10% {
        content: "01";
    }
    20% {
        content: "02";
    }
    30% {
        content: "03";
    }
    40% {
        content: "04";
    }
    50% {
        content: "05";
    }
    60% {
        content: "06";
    }
    70% {
        content: "07";
    }
    100% {
        content: "07";
    }
}

@keyframes material {
    0% {
        opacity: .3;
        transform: scale(0);
    }
    35% {
        opacity: .6;
        transform: scale(15);
    }
    100% {
        opacity: 0;
        transform: scale(15);
    }
}

@keyframes fadeInUp {
    0%  {
        opacity: 0;
        display: none;
        transform: translate3d(0, 10%, 0);
    }
    1% {
        opacity: 0;
        display: block;
        transform: translate3d(0, 10%, 0);
    }
    100% {
        opacity: 1;
        display: block;
        transform: translate3d(0, 0, 0);
    }
}

.js-section {
    > * {
        backface-visibility: hidden;
        transition-property: opacity, transform;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    &.is-active {
        > * {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}

.animate-show {
    opacity: 1;
    animation: fadeInUp .25s ease-in-out;
    animation-play-state: play;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    opacity: 0;
    animation-play-state: paused;
}