/*
#colors

@default #333
@base #4ac8bb
@foundation #eee

@category-a #b993d4
@category-b #88c1ed
@category-c #f3ad9d
*/

$color-default: #000;
$color-dark: #333;
$color-foundation: #f7f7f7;
$color-foundation-light: #f2f2f2;

$color-main: #e7372f;
$color-sub: #7d0000;
$color-border: #ccc;
$color-border-light: #e6e6e6;
$color-gray: #999;
$color-error: #d7001d;

$color-facebook: #305097;
$color-twitter: #00aced;
$color-line: #00c300;
$color-instagram: #325C86;

//
$color-main: #131f32;
$color-caution: #f7941d;