<!--banners ここから-->
<aside class="m-bottom6">
    <ul class="banners">
        <li class="banners-item">
            <a class="banners-link" target="_blank" href="#">
                <img src="images/banner-present.png" width="299" height="93" alt="抽選で毎月プレゼントが当たる！ Present"/>
            </a>
        </li>
        <li class="banners-item">
            <a class="banners-link" target="_blank" href="#">
                <img src="http://placekitten.com/300/93" height="93" width="300" alt="">
            </a>
        </li>
        <li class="banners-item">
            <a class="banners-link" target="_blank" href="#">
                <img src="http://placekitten.com/300/93" height="93" width="300" alt="">
            </a>
        </li>
        <li class="banners-item">
            <a class="banners-link" target="_blank" href="#">
                <img src="http://placekitten.com/300/93" height="93" width="300" alt="">
            </a>
        </li>
    </ul>
</aside>
<!--banners ここまで-->