<aside class="fb-page-section m-bottom8">
    <h1 class="fb-page-section-heading">
        <i class="sprite-title-2x sprite-title-facebook">Facebook</i>
    </h1>
    <div class="fb-page-section-wrap">
        <div class="fb-page" data-href="https://www.facebook.com/pacoma.jp/" data-width="300" data-small-header="true"
             data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/pacoma.jp/"><a href="https://www.facebook.com/pacoma.jp/">ホームセンターマガジン「パコマ」</a>
                </blockquote>
            </div>
        </div>
    </div>
</aside>