<% if(followUs === "small"){ %>
<!--follow-us ここから-->
<div class="follow-us follow-us-small">
    <ul class="follow-us-list">
        <li class="follow-us-item">
            <a class="follow-us-instagram" target="_blank" href="https://www.instagram.com/pacoma_official/?ref=badge">
                <i class="icon-instagram"></i>
            </a>
        </li>
        <li class="follow-us-item">
            <a class="follow-us-facebook" target="_blank" href="https://www.facebook.com/pacoma.jp/">
                <i class="icon-facebook"></i>
            </a>
        </li>
        <li class="follow-us-item">
            <a class="follow-us-twitter" target="_blank" href="https://twitter.com/pacoma_tw">
                <i class="icon-twitter"></i>
            </a>
        </li>
    </ul>
</div>
<!--follow-us ここまで-->
<% } else if(followUs === "xsmall"){ %>
<!--follow-us ここから-->
<div class="follow-us follow-us-xsmall">
    <ul class="follow-us-list">
        <li class="follow-us-item">
            <a class="follow-us-instagram" target="_blank" href="https://www.instagram.com/pacoma_official/?ref=badge">
                <i class="icon-instagram"></i>
            </a>
        </li>
        <li class="follow-us-item">
            <a class="follow-us-facebook" target="_blank" href="https://www.facebook.com/pacoma.jp/">
                <i class="icon-facebook"></i>
            </a>
        </li>
        <li class="follow-us-item">
            <a class="follow-us-twitter" target="_blank" href="https://twitter.com/pacoma_tw">
                <i class="icon-twitter"></i>
            </a>
        </li>
    </ul>
</div>
<!--follow-us ここまで-->
<% } else {%>
<!--follow-us ここから-->
<aside class="follow-us">
    <h1 class="follow-us-heading">
        <i class="sprite-title-2x sprite-title-follow-us">Follow Us</i>
    </h1>
    <ul class="follow-us-list">
        <li class="follow-us-item">
            <a class="follow-us-instagram" target="_blank" href="https://www.instagram.com/pacoma_official/?ref=badge">
                <i class="icon-instagram"></i>
            </a>
        </li>
        <li class="follow-us-item">
            <a class="follow-us-facebook" target="_blank" href="https://www.facebook.com/pacoma.jp/">
                <i class="icon-facebook"></i>
            </a>
        </li>
        <li class="follow-us-item">
            <a class="follow-us-twitter" target="_blank" href="https://twitter.com/pacoma_tw">
                <i class="icon-twitter"></i>
            </a>
        </li>
    </ul>
</aside>
<!--follow-us ここまで-->
<% } %>