<aside class="instagram-section m-bottom2" id="js-instagram">
    <h1 class="instagram-section-heading">
        <i class="sprite-title-2x sprite-title-instagram">Instagram</i>
    </h1>
    <ul class="instagram-section-list">
        <li class="instagram-section-item">
            <a target="_blank" href="">
                <i class="sprite-parts-2x sprite-parts-corner"></i>
            </a>
        </li>
        <li class="instagram-section-item">
            <a target="_blank" href="">
                <i class="sprite-parts-2x sprite-parts-corner"></i>
            </a>
        </li>
    </ul>
</aside>