<div class="latest m-bottom2">
    <div class="latest-inner">
        <a href="#" target="_blank">
            <img src="images/sample/latest-sample.jpg" width="105" height="130" alt="全国のホームセンターでもらえる！ Pacoma 最新号"/>
        </a>
    </div>
</div>