<aside class="news-article m-bottom4">
    <h1 class="news-article-heading">
        <i class="sprite-title-2x sprite-title-news">News</i>
    </h1>
    <% var articleMedia = [
        {
            class: "article-media-small",
            image: "img-8.jpg",
            heading: "全国20箇所でパコマのスペシャルイベントを開催します。おしらせ記事のタイトルが入ります。",
            category: "2016.03.26",
            pr: true,
            movie: true
        }
    ],
    iMedia = 0;
    %>

    <% include ../module/_article-media %>
</aside>