<form class="form" action="">
    <dl>
        <dt>Select your specialist</dt>
        <dd>
            <input class="input" type="search"/>
        </dd>
    </dl>
    <!--<dl>-->
        <!--<dt>Select your specialist</dt>-->
        <!--<dd>-->
            <!--<input class="input" type="text"/>-->
        <!--</dd>-->
    <!--</dl>-->
    <!--<dl>-->
        <!--<dt>Select your specialist</dt>-->
        <!--<dd>-->
            <!--<input class="input" type="text"/>-->
        <!--</dd>-->
    <!--</dl>-->
    <div>
        <button class="button">Reserve</button>
    </div>
    <div>
        <div class="button-group">
            <button class="button">Dr.one</button>
            <button class="button">Dr.two</button>
            <button class="button">Dr.three</button>
        </div>
    </div>
</form>