<div class="selection selection--concerns">
    <ul class="selection__list">
        <li class="selection__item">
            <textarea class="textarea" name="" id="" cols="20" rows="5" placeholder="Concerns" ng-model="concerns"></textarea>
        </li>
        <li class="selection__item">
            <label class="dot dot--box">
                <input class="dot__input" type="checkbox" name="someone" value="someone" ng-model="someone">
                <span class="dot__box">
                    <i class="dot__icon fa fa-check"></i>
                </span>
                <span class="dot__text">I’m filing in behalf of someone else</span>
            </label>
        </li>
        <li class="selection__item">
            <input class="input" type="text" name="patientName" placeholder="Patient’s Name" ng-model="patientName" ng-required>
        </li>
    </ul>
</div>