<div class="selection selection--button">
    <a class="selection__button get-start get-start--primary" href="" ng-disabled="!patientName || !checkedSp" ng-click="myCtrl.submit($event, specialtiy, checkedSp, concerns, someone, patientName)">
        <span class="get-start__text">Get your number</span>
    </a>
</div>