<div class="selection selection--button">
    <a class="selection__button get-start get-start--primary" href="app.html" ng-disabled="!patientName || !checkedSp">
        <span class="get-start__text">Get your number</span>
    </a>
</div>