<li class="form__item">
    <dl>
        <dt>Select your specialist</dt>
        <dd>
            <div class="button-group">
                <input class="button-group__input input" placeholder="Seach doctors" ng-model="searchText" />
                <ul class="button-group__list">
                    <li ng-repeat="specialist in myCtrl.specialists | filter:searchText">
                        <button class="button" type="button" value="{{specialist.name}}" ng-click="myCtrl.selectDr($event)">{{specialist.name}}</button>
                    </li>
                </ul>
            </div>
        </dd>
    </dl>
</li>
