.article-media {

    .article-media-link {
        @extend %u-clear;
        display: block;
        text-decoration: none;
        color: #000;
        position: relative;
        padding: 2px;
        &:hover .article-media-heading {
            color: $color-main;
        }
    }

    .article-media-image {
        float: left;
        position: relative;
        //> img {}

        .sprite-rank-high {
            position: absolute;
            top: -8px;
            left: -8px;
        }

        .sprite-rank-low {
            position: absolute;
            top: -12px;
            left: -8px;
        }
    }

    .article-media-labels {
        position: absolute;
        bottom: 7px;
        right: 4px;
        font-size: 0;
        margin: 0 -1px;
        .sprite-parts-2x {
            margin: 0 1px;
            vertical-align: bottom;
        }
    }

    .article-media-body {
        margin-left: 220px;
    }
    .article-media-meta {
        display: block;
        font-size: 13px;
        color: $color-gray;
        margin-bottom: 10px;
    }
    .article-media-heading {
        line-height: 1.35;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
        transition: color $duration $easing;
    }
    .article-media-description {
        line-height: 1.5;
        font-size: 14px;
    }

    //お知らせ
    &.article-media-small {

        .article-media-link {
            padding: 12px 20px;
        }
        .article-media-labels {
            bottom: 4px;
        }
        .article-media-body {
            margin-left: 120px;
        }
        .article-media-meta {
            font-size: 12px;
            margin-bottom: 5px;
            color: $color-gray;
            font-family: $font-en;
            font-weight: normal;
        }
        .article-media-heading {
            font-size: 13px;
            margin-bottom: 0;
        }
    }
    
    //ranking
    &.article-media-ranking {
        .article-media-link {
            padding: 12px 20px;
        }
        .article-media-body {
            margin-left: 120px;
        }
        .article-media-meta {
            font-size: 12px;
            margin-bottom: 5px;
            color: $color-gray;
            font-weight: normal;
        }
        .article-media-heading {
            font-size: 13px;
            margin-bottom: 0;
        }
        .article-media-labels {
            bottom: 4px;
        }
        .sprite-rank-2x {
            position: absolute;
            z-index: 2;
            top: -7px;
            left: -10px;
        }
    }

    
    //「書いた記事」内のパターン
    &.article-media-simple {
        .article-media-body {
            margin-left: 130px;
        }
        .article-media-link {
            padding: 0;
        }
        .article-media-labels {
            bottom: 4px;
        }
        .article-media-meta {
            margin-bottom: 6px;
        }
        .article-media-heading {
            font-size: 16px;
            line-height: 1.35;
            margin-bottom: 0;
        }
    }


}