.article-card {
    text-align: left;
	.article-card-link {
        padding: 15px;
        display: block;
        text-decoration: none;
        color: black;
        position: relative;
        &:hover .article-card-heading {
            color: $color-main;
        }
    }
    .article-card-image {
        position: relative;
        margin-bottom: 32px;
        > img {
            width: 100%;
            height: auto;
        }
    }
    .article-card-category {
        position: absolute;
        bottom: -15px;
        left: -8px;
        font-size: 0;
        z-index: 3;
    }
    .sprite-label-2x {
        vertical-align: bottom;
    }
    .sprite-label-new {
        margin-left: -10px;
    }
    .article-card-labels {
        position: absolute;
        bottom: 6px;
        right: 6px;
        font-size: 0;
        margin: 0 -1px;
        .sprite-parts-2x {
            margin: 0 1px;
            vertical-align: bottom;
        }
    }
    .article-card-heading {
        font-size: 21px;
        font-weight: bold;
        line-height: 1.35;
        letter-spacing: .02em;
        transition: color $duration $easing;
    }
}