.avator {
    @extend %u-clear;
    > img {
        max-width: 140px;
        max-height: 140px;
        width: 140px;
        height: auto;
        border-radius: 50%;
        float: left;
    }
    .avator-body {
        margin-left: 158px;
        color: #000;
        position: relative;
        top: -2px;
        letter-spacing: -.02em;
        > dt {
            font-weight: bold;
            line-height: 1.35;
            margin-bottom: 8px;
        }
        > dd {
            line-height: 1.35;
            font-size: 14px;
        }
    }
}