.banners {
    padding: 0 20px;
    .banners-item {
        background-color: #000;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .banners-link {
        display: block;
        transition: opacity $duration $easing;
        > img {
            height: auto;
        }
        &:hover {
            text-decoration: none;
            opacity: $opacity;
        }
    }
}