.category-heading {
    padding: 52px 0 0;
    text-align: center;
    font-size: 0;
    .icon {
        vertical-align: middle;
        font-size: 38px;
        position: relative;
        top: -3px;
        right: -5px;
    }
    .category-heading-inner {
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        font-size: 32px;
        line-height: 1.56;
        letter-spacing: -.02em;
    }
    .category-heading-pager {
        margin-top: 10px;
        color: $color-gray;
        font-size: 14px;
    }
}
