.caution {
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;
    .caution__title {
        color: #808080;
        font-size: 20px;
    }
    .caution__inner {
    }
    .caution__number {
        > strong {
            color: $color-caution;
            font-size: 250px;
            font-weight: bold;
            &:before {
                content: "00";
                display: block;
                animation: count 1s 1.25s linear both;
            }
        }
    }

    .caution__data {
        text-align: left;
    }
    .caution__data-item {
        font-size: 40px;
        margin-bottom: 5px;
        &:nth-child(1) {
            color: #657ca1;
        }
        &:nth-child(2) {
            color: #657ca1;
        }
        &:nth-child(3) {
            color: #68707f;
        }
        &:nth-child(4) {
            color: #686868;
            margin-bottom: 0;
        }
        em {
            color: #fff;
            font-weight: bold;
        }
    }

}

@include query($break-medium) {
    .caution {
        .caution__number {
            margin: 10px 0;
            > strong {
                font-size: 150px;
            }
        }
        .caution__data-item {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}