.city {
    background-color: $color-border;
    &:last-of-type .city-title {
        border-bottom: 0;
    }
    .city-title {
        border-bottom: 1px solid $color-dark;
        > a {
            display: block;
            background-color: $color-foundation-light;
            color: $color-default;
            padding: 16px 15px 16px 54px;
            position: relative;
            transition: background-color $duration $easing, color $duration $easing;

            //state
            &.is-active {
                background-color: $color-border;
                color: $color-main;
                .icon-arrow-right {
                    transform: rotate(90deg);
                }
            }
        }
    }
    .icon-arrow-right {
        transition: transform $duration $easing;
        position: absolute;
        left: 30px;
        top: 16px;
    }
    .city-data {
        display: none;
        padding: 15px;
    }
}