.company-section {
    .primary-heading {
        margin-bottom: 26px;
    }

    //会社名、とか
    .company-section-data {
        display: table;
        table-layout: fixed;
        width: 100%;
        text-align: left;
        > dl {
            display: table-row;
            > dt,
            > dd {
                display: table-cell;
                vertical-align: top;
                line-height: 1.5;
                padding-bottom: 22px;
                letter-spacing: -.02em;
            }
            > dt {
                font-weight: bold;
                width: 96px;
            }
            //> dd {}
        }

        //事業
        &.company-section-data-service {
            > dl {
                > dt,
                > dd {
                    padding-bottom: 16px;
                }
            }
        }
    }

    //地図
    .company-section-map {
        &:last-of-type {
            margin-bottom: 0;
        }
        > dt {
            font-weight: bold;
            line-height: 1.5;
            font-size: 18px;
            letter-spacing: -.02em;
        }
        > dd {
            letter-spacing: -.02em;
            > address {
                display: block;
                line-height: 1.5;
                margin-bottom: 5px;
            }
        }
    }
    .company-section-line {
        display: block;
        width: 100%;
        border-top: 2px solid $color-foundation;
        margin: 31px 0 24px;
    }

    //加盟団体
    .company-section-description {
        letter-spacing: -.02em;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 17px;
    }
    .company-section-button {
        width: 480px;
        margin: 0 auto;
    }
    .company-section-organization {
        margin-top: 40px;
        > li {
            text-align: center;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    //margin
    &.company-section-margin {
        margin-bottom: 52px;
    }
    &.company-section-margin-small {
        margin-bottom: 36px;
    }
    &.company-section-margin-large {
        margin-bottom: 80px;
    }
}