.form {
    width: 100%;
    overflow: hidden;
    background: url(#{$path-image}bg-form.jpg) left top no-repeat;
    background-size: cover;
    .form__inner {
        position: relative;
        overflow: hidden;
        transition: transform .35s ease-in-out;
    }
    .form__item {
        display: table;
        width: 100%;

        &.form__item--type-b {
            .form__cell {
                &:nth-child(1) {
                    vertical-align: bottom;
                    background-color: rgba(#000, .7);
                }
                &:nth-child(2) {
                    background-color: #789350;
                }
            }
            .form__item--type-b-text {
                color: #fff;
                font-size: 25px;
            }
        }
        &.form__item--type-c {
            .form__cell {
                vertical-align: middle;
                &:nth-child(1) {
                    background-color: #7c7c7c;
                }
                &:nth-child(2) {
                    background-color: #46552e;
                }
            }
        }
    }
    .form__cell {
        display: table-cell;
        padding: 20px 5%;

        &:nth-child(1) {
            width: 45%;
        }
        &:nth-child(2) {
            width: 55%;
            background-color: #abd373;
        }
    }
}

@include query($break-medium) {
    .form__item {
        display: block;
    }
    .form__cell {
        display: block;

        &:nth-child(1) {
            display: none;
        }
        &:nth-child(2) {
            width: 100%;
        }
    }
}