.frame-section {
    border: 2px solid #000;
    padding: 15px 0 15px;
    .share-section-heading {
        text-align: center;
        margin: -29px 0 30px;
    }
    .share-section-heading-inner {
        display: inline-block;
        padding: 0 15px;
        background-color: #fff;
    }
    .sprite-title-2x {
        vertical-align: bottom;
    }
    .sprite-title-2x.sprite-title-share {
        background-position: 0px -75px;
    }
    .frame-section-list {
        text-align: center;
        font-size: 0;
        > li {
            display: inline-block;
        }
    }

    //sns
    &.frame-section-share {
        padding-bottom: 30px;
        .frame-section-list {
            margin: 0 -10px;
            > li {
                margin: 0 10px;
            }
        }
        .button-sns {
            width: 192px;
        }
    }

    //関連キーワード
    &.frame-section-keywords {
        padding-right: 30px;
        padding-left: 30px;
        .frame-section-list {
            text-align: left;
            margin: -5px;
            > li {
                margin: 5px;
            }
        }
    }

    //書いた人
    &.frame-section-author {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 32px;
        .button {
            width: 410px;
            display: block;
            margin: 0 auto;
        }
    }
}