.hero {
    width: 100%;
    background: url(#{$path-image}hero.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 30px;
    .hero__logo {
        float: left;
    }
    .hero__caution {
        float: right;
    }
}

@include query($break-medium) {
    .hero {
        .hero__logo,
        .hero__caution {
            float: none;
        }
        .hero__logo {
            margin-bottom: 60px;
        }
        .hero__caution {
            .caution__data {
                text-align: center;
            }
        }
    }
}

.logo {
    background-size: cover;
    text-align: center;
    .logo__image {
        margin-bottom: 10px;
    }
    .logo__title {
        color: #6c85ae;
        font-size: 35px;
    }
}

.caution {
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;
    .caution__title {
        color: #808080;
        font-size: 20px;
    }
    .caution__inner {
    }
    .caution__number {
        > strong {
            color: $color-caution;
            font-size: 250px;
            font-weight: bold;
        }
    }

    .caution__data {
        text-align: left;
        .caution__data-item {
            font-size: 40px;
            margin-bottom: 5px;
            &:nth-child(1) {
                color: #657ca1;
            }
            &:nth-child(2) {
                color: #657ca1;
            }
            &:nth-child(3) {
                color: #68707f;
            }
            &:nth-child(4) {
                color: #686868;
                margin-bottom: 0;
            }
            em {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

.works {
    padding: 20px;
    background-color: #293344;
    .works__title {
        text-align: center;
        font-size: 35px;
        color: #fff;
        margin-bottom: 25px;
    }
    .works__grid {
        text-align: center;
    }
    .works__grid-inner {
        margin: -15px;
    }
    .works__grid-item {
        padding: 15px;
    }
}

.start {
    background: url(#{$path-image}bg-start.png) center center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    .start__title {
        font-size: 50px;
        color: #fff;
        margin-bottom: 30px;
    }
}

.get-start {
    display: inline-block;
    border-radius: 30px;
    background-color: rgba(#fff, .1);
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        margin-left: -15px;
        margin-top: -15px;
        transform: scale(0);
        opacity: 0;
    }
    .get-start__icon,
    .get-start__text {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 2;
    }
    .get-start__icon {
        font-size: 50px;
        line-height: 50px;
        text-align: center;
    }
    .get-start__text {
        font-size: 40px;
    }

    &:hover {
        text-decoration: none;
        &:before {
            animation: material .85s ease-out both;
        }
    }
}

.feature {
    background: url(#{$path-image}bg-feature.jpg) center center no-repeat;
    background-size: cover;
    padding: 30px 0;
    .feature__title {
        color: #fff;
        font-size: 100px;
        text-align: center;
        margin-bottom: 110px;
    }
    .feature__grid {
    }
    .feature__grid-inner {
        margin: -30px 0;
    }
    .feature__grid-item {
        padding: 30px;
    }
    .feature__strong {
        text-align: center;
        margin-top: 200px;
        font-size: 45px;
        color: #fff;
    }
}

@include query($break-medium) {
    .feature {
        .feature__title {
            font-size: 50px;
            margin-bottom: 50px;
        }
        .feature__grid-inner {
            margin: -15px;
        }
        .feature__grid-item {
            padding: 15px;
        }
        .feature__strong {
            margin-top: 100px;
            font-size: 22px;
            padding: 0 20px;
        }
    }
}

.reason {
    text-align: center;
    .reason__icon {
        font-size: 100px;
        margin-bottom: 10px;
    }
    .reason__title {
        font-size: 45px;
        color: #fff;
    }
}

@include query($break-medium) {
    .reason {
        .reason__title {
            font-size: 23px;
        }
    }
}

.supporter {
    background-color: #fff;
    padding: 15px 0;
    text-align: center;
    .supporter__title {
        color: #808080;
        font-size: 25px;
        margin-bottom: 10px;
    }
    //.supporter__grid {}
    .supporter__grid-inner {
    }
    .supporter__grid-item {
        position: relative;
        p {
            width: 100%;
            font-size: 15px;
            color: #8d8d8d;
            position: absolute;
            left: 0;
            top: 70%;
        }
    }
}

.js-section {
    > * {
        backface-visibility: hidden;
        transition-property: opacity, transform;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    &.is-active {
        > * {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}
