.hero {
    width: 100%;
    background: url(#{$path-image}hero.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 30px;
    .hero__logo {
        float: left;
    }
    .hero__caution {
        float: right;
    }
    
    &.is-only-logo {
        .hero__logo {
            float: none;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

@include query($break-medium) {
    .hero {
        .hero__logo,
        .hero__caution {
            float: none;
        }
        //.hero__logo {}
        .hero__caution {
            margin-bottom: 60px;
            .caution__data {
                text-align: center;
            }
        }
    }
}
