.loading {
    width: 100%;
    height: 100%;
    background-color: #131f32;
    position: fixed;
    z-index: $max-z + 5;
    .loading__spiner {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: (-28px/2) 0 0 (-96px/2);
    }
}
