.navi{

    width: 100%;
    min-height: 100%;
    background-color: $color-foundation-light;
    text-align: center;

    .navi-data {
        font-size: 0;
        margin: 0 -30px;
    }
    .navi-data-item {
        display: inline-block;
        letter-spacing: 0;
        padding: 0 30px;
        vertical-align: top;
        //すべて
        &:nth-child(1) {
            .navi-data-link {
                width: 78px;
            }
        }
        //暮らしの工夫
        &:nth-child(2) {
            .navi-data-link {
                width: 119px;
            }
        }
        //家事ラクグッズ
        &:nth-child(3) {
            padding: 0 29px;
            .navi-data-link {
                width: 123px;
            }
        }
        //DIY
        &:nth-child(4) {
            padding: 0 29px;
            .navi-data-link {
                width: 57px;
            }
            .sprite-nav-2x {
                top: 14px;
            }
        }
        //ガーデニング
        &:nth-child(5) {
            padding: 0 29px;
            .navi-data-link {
                width: 114px;
            }
            .sprite-nav-2x {
                top: 13px;
            }
        }
        //Pacomaコラム
        &:nth-child(6) {
            .navi-data-link {
                width: 135px;
            }
            .sprite-nav-2x {
                top: 14px;
            }
        }
        //プレゼント
        &:nth-child(7) {
            .navi-data-link {
                width: 98px;
            }
        }
    }
    .navi-data-link {
        display: block;
        height: 50px;
        color: #000;
        line-height: 1;
        padding: 11px 0;
        position: relative;
        .icon {
            display: inline-block;
            vertical-align: middle;
            font-size: 28px;
            position: relative;
            top: -2px;
            transition: color $duration-quick $easing, transform $duration-quick $easing;
        }
        .sprite-nav-2x {
            transition: opacity $duration $easing;
            position: absolute;
            left: 0;
            top: 12px;
            &[class*="on"]{
                opacity: 0;
            }
        }
        //state
        &:hover {
            text-decoration: none;
            color: $color-main;
            .sprite-nav-2x {
                opacity: 1;
                &[class*="off"] {
                    opacity: 0;
                }
            }
        }

        &.navi-data-link-current{
            color: $color-main;
            .navi-data-bar {
                transform: scaleX(1);
            }
            .sprite-nav-2x {
                opacity: 1;
                &[class*="off"] {
                    opacity: 0;
                }
            }
        }
    }
    .navi-data-bar {
        display: block;
        border-bottom: 3px solid $color-main;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
    }
    .navi-data-text {
        display: none;
    }
}