.pager {
    text-align: center;
    font-size: 0;
    position: relative;
    padding: 0 50px;

    .button {
        width: 100px;
        &.button-prev {
            margin-right: 30px;
        }
        &.button-next {
            margin-left: 30px;
        }
    }

    > a:not([class]),
    .pager-current {
        display: inline-block;
        vertical-align: top;
        background-color: $color-border-light;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: .15em;
        text-decoration: none;
        color: $color-dark;
        margin: 0 2px;
        font-size: 14px;
        font-family: $font-en;
        font-weight: bold;
    }
    .pager-current {
        border-color: $color-dark;
        background-color: $color-dark;
        color: #fff;
    }
    > span {
        display: inline-block;
        vertical-align: top;
        height: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: .1em;
        color: $color-dark;
        margin: 0 2px;
        font-size: 14px;
    }
    > a {
        transition: background-color $duration $easing;

        &:hover {
            background-color: darken($color-border-light, 20%);
        }
    }
}