.section {
	
	&.section-bordered {
		border: 2px solid black; 
	}
	
	&.section-fb-page {
		max-width: 288px;
		margin: 0 auto;
	}
	
	&.section-tab {
		
		&.section-tab-menu {
			border-bottom: 1px solid #999999;
		}
		
		&.section-tab-slides {
			.section-tab-slide {
				.section-tab-slide-control {
					padding: 0 16px;
				}
			}
		}
	}
}