.secondary-heading {
    position: relative;
    .secondary-heading-inner {
        text-align: center;
        > h1 {
            display: inline-block;
            background-color: #fff;
            padding: 0 10px;
            position: relative;
            z-index: 2;
        }
    }
    > span {
        display: block;
        width: 100%;
        border-top: 2px dotted #000;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 50%;
        margin-top: -8px;
    }
}