.selection {
    .selection__avatars {
        overflow: hidden;
    }
    .selection__avatars-item {
        &:nth-of-type(1) {
            float: left;
        }
        &:nth-of-type(2) {
            float: right;
        }
    }
    .selection__select {
        margin-top: 25px;
    }

    .selection__list {}
    .selection__item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    //.selection__button {}

    &.selection--dr {}
    &.selection--concerns {}
    &.selection--button {
        text-align: center;
    }
}


@include query(1056px) {
    .selection {
        .selection__avatars {
            overflow: hidden;
        }
        .selection__avatars-item {
            &:nth-of-type(1),
            &:nth-of-type(2) {
                float: none;
            }
            &:nth-of-type(1) {
                margin-bottom: 30px;
            }
        }
    }
}