.select {
    width: 100%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 2px;
    .select-inner {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;
    }
    .select-face {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-decoration: none;
        box-shadow: 2px 2px 0 $color-border-light;
        background-color: $color-border-light;
    }
    .select-contents {
        display: block;
        height: 100%;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        position: relative;
    }

    .select-text {
        color: #000;
        font-size: 14px;
        position: relative;
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .select-title,
    .select-data {
        display: table-cell;
        vertical-align: middle;
        font-size: 11px;
        padding: 17px 0;
    }
    .select-title {
        width: 75px;
        background-color: $color-dark;
        color: #fff;
        text-align: center;
    }

    .select-data {
        padding: 15px;
        color: $color-default;
        font-weight: bold;
        font-size: 13px;
    }

    .icon-arrow-down {
        font-size: 16px;
        position: absolute;
        top: 15px;
        right: 11px;
    }
}