.select {
    width: 100%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    .select__object {
        display: block;
        width: 100%;
        min-height: 45px;
        padding: 0 10px;
        color: #666;
        background-color: #fff;
        font-size: 25px;
    }
    .select__icon {
        color: #9a9a9a;
        font-size: 35px;
        position: absolute;
        right: 10px;
        top: 5px;
    }
}