.shop {
    border-bottom: 1px solid $color-border;
    &:last-of-type {
        border-bottom: 0;
    }
    .shop-heading {
        > a {
            display: block;
            background-color: #fff;
            color: $color-default;
            padding: 16px 15px 16px 37px;
            position: relative;
            transition: background-color $duration $easing, color $duration $easing;
            //state
            &.is-active {
                background-color: $color-main;
                color: #fff;
                .icon-arrow-right {
                    color: #fff;
                    transform: rotate(90deg);
                }
            }
        }
        .icon-arrow-right {
            color: $color-default;
            transition: transform $duration $easing, color $duration $easing;
            position: absolute;
            left: 15px;
            top: 15px;
        }
        //> span {}
    }
    .shop-data {
        display: none;
        background-color: #fff;
        padding: 19px 15px 15px;
    }
    .shop-data-info {
        margin-bottom: 16px;
        > dt {
            min-width: 60px;
            display: inline-block;
            font-weight: bold;
            padding-right: 3px;
        }
        > dd {
            display: inline-block;
            > a {
                text-decoration: underline;
            }
        }
    }
    .shop-data-link {
        text-align: center;
        margin-bottom: 14px;
        &:last-of-type {
            margin-bottom: 0;
        }
        //> img {}
    }
}