.support {
    .support-link {
        @extend %u-clear;
        display: block;
        color: #000;
        &:hover {
            text-decoration: none;
            .support-heading {
                color: $color-main;
            }
        }
    }
    .support-image {
        float: left;
        position: relative;
        width: 140px;
        height: 174px;
    }
    .support-body {
        margin-left: 150px;
        position: relative;
        top: -4px;
    }
    .support-heading {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.35;
        margin-bottom: 4px;
        letter-spacing: -.02em;
        transition: color $duration $easing;
    }
    .support-text {
        letter-spacing: -.02em;
        font-size: 13px;
        line-height: 1.35;
    }
}