.supporter-contents {

    .primary-heading {
        margin-bottom: 24px;
    }

    .supporter-contents-text {
        line-height: 1.5;
        letter-spacing: -.02em;
    }

    .tab {
        margin-top: 26px;
    }

    .supporter-contents-list {
        margin-bottom: 43px;
    }
    .supporter-contents-list-inner {
        font-size: 0;
        letter-spacing: 0;
        margin: -15px;
        > li {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            padding: 15px;
            border-bottom: 1px solid $color-border-light;
        }
    }

    .supporter-contents-button {
        width: 478px;
        margin: 46px auto 0;
    }
    //margin
    &.supporter-contents-margin {
        margin-bottom: 77px;
    }
}