<header class="l-header">

    <ul class="nav">
        <li class="nav__item">
            <dl class="user-info">
                <dt class="user-info__data">
                    <p class="user-info__name">User Name</p>
                    <p class="user-info__phone">+6332398219</p>
                </dt>
                <dd class="user-info__thumb">
                    <!-- <img src="http://placekitten.com/62/62" height="62" width="62" alt=""> -->
                </dd>
            </dl>
        </li>
        <li class="nav__item">
            <a class="header-link" href="#">
                <i class="header-link__icon fa fa-lock" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav__item">
            <a class="header-link" href="#">
                <i class="header-link__icon fa fa-cog" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</header>